body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://images.pexels.com/photos/5258/addiction-bet-betting-casino.jpg?h=350&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: cover;
  color: green;
}

#container{
  background-color: #D3D3D3;
  width: 500px;
  height: 500px;
  border-radius: 50px;
  text-align: center;
  margin: 0 auto;
}
button{
 margin: 5px;
}
